* {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scene1 {
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  width: 1442px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.road {
  position: fixed;
  top: 71%;
  width: 3000px;
  height: 10%;
  background-color: #3a3333;
}

.road2 {
  top: 82%;
  height: 8%;
}

.sidewalk {
  background-color: gray;
  position: fixed;
  top: 90%;
  height: 100px;
  width: 3000px;
}

.dotted-line {
  z-index: 100;
  position: relative;
  border: none;
  top: 80%;
  border-top: 12px dashed #fff;
  width: 3000px;
  background-color: #3a3333;
}

.billboard {
  position: relative;
  margin-top: 5%;
  border-radius: 8px;
  border: 15px solid black;
  height: 40%;
  width: 50%;
}

.slice {
  position: absolute;
  height: 100%;
  width: 5%;
  border: 1px solid black;
}

.slice2 { margin-left: 5%; }
.slice3 { margin-left: 10%; }
.slice4 { margin-left: 15%; }
.slice5 { margin-left: 20%; }
.slice6 { margin-left: 25%; }
.slice7 { margin-left: 30%; }
.slice8 { margin-left: 35%; }
.slice9 { margin-left: 40%; }
.slice10 { margin-left: 45%; }
.slice11 { margin-left: 50%; }
.slice12 { margin-left: 55%; }
.slice13 { margin-left: 60%; }
.slice14 { margin-left: 65%; }
.slice15 { margin-left: 70%; }
.slice16 { margin-left: 75%; }
.slice17 { margin-left: 80%; }
.slice18 { margin-left: 85%; }
.slice19 { margin-left: 90%; }
.slice20 { margin-left: 95%; }

/* Dumpster*/



.dumpster {
  position: relative;
  color: #498540;
  z-index: 300;
  height: 60px;
  width: 150px;
  background-color: green;
  border-top: 5px solid black;
  top: 350px;
  left: -240px;
}

.tree {
  position: relative;
  z-index: 300;
  width: 35px;
  height: 35px;
  background-color: green;
  top: 345px;
  left: -216px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-radius: 50px;

}

.tree-bark {
  position: relative;
  z-index: 300;
  width: 10px;
  height: 35px;
  background-color: brown;
  top: 380px;
  left: -229px;
}



/* Bench */


.bench {
  position: relative;
  z-index: 300;
  height: 30px;
  width: 40px;
  backgorund-color: brown;
}

/* Cloud */


.cloud {
  z-index: 300;
  position: relative;
  width: 190px;
  height: 90px;
  border-radius: 50px;
  background: #fff;
  top: -700px;
  left: 1100px;
  animation: wind 90s linear infinite;
}

.cloud:before {
  z-index: 300;
  content: '';
  position: absolute;
  top: -30px;
  left: 80px;
  background: #fff;
  width: 90px;
  height: 100px;
  border-radius: 50px;
}

.cloud:after {
  content: '';
  position: absolute;
  top: -35px;
  right: 70px;
  background: #fff;
  width: 90px;
  height: 100px;
  border-radius: 50%;
}

.truck {
  position: fixed;
  background: url("../images/pickup-truck.png");
  width: 250px;
  top: 55%;
  min-height: 110px;
  height: 200px;
  /*animation: drive 35s linear;*/
}

.string {
  z-index: 900;
  position: relative;
  height: 30px;
  width: 1px;
  background-color: gray;
}

.js {
  opacity: 0;
  font-family: arial;
  font-weight: bold;
  color: black;
  animation: fade-in 1s, fall 4.5s;
  animation-delay: 3.2s;
}

.person-in-window {
  opacity: 0;
  animation: fade-in 3s ease-out;
  animation-delay: 2s;
}

.brick-door1 {
  position: absolute;
  top: 60%;
  left: 40%;
  animation: swing-left 7s ease;
  animation-delay: 8s;
}

.brick-door2 {
  position: absolute;
  top: 60%;
  left: 50%;
  animation: swing-right 7s ease;
  animation-delay: 8s;
}

.inside {
  position: absolute;
  background: url("../images/vortex.png");
  background-size: cover;
  top: 60%;
  left: 40%;
  z-index: 300;
  width: 60px;
  height: 50px;
}

.ruby {
  position: absolute;
  z-index: 400;
  opacity: 0;
  font-family: arial;
  color: white;
  top: 45%;
  left: 43%;
  font-weight: bold;
  animation: jump 1s, fade-in 1s, drop 2vs;
  animation-delay: 11s;
}

/* KEYFRAMES */

@keyframes wind {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(-1300px);
  }
}

@keyframes drive {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(1450px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fall {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(380px);
  }
}

@keyframes swing-left {
  0% {
    transform: rotateY(0px);
  }
  50% {
    transform: rotateY(85deg);
    transform-origin: left;
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes swing-right {
  0% {
    transform: rotateY(0px);
  }
  50% {
    transform: rotateY(85deg);
    transform-origin: right;
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes drop {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(100px);
  }
}

@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
  100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
}

@media only screen and (max-width: 500px) {
  .car {
    top: 470px;
  }
}

@media only screen and (max-width: 400px) {
  .car {
    top: 420px;
  }
}

@media only screen and (max-width: 330px) {
  .car {
    top: 380px;
  }
}
